.ribbon {
    z-index: 2000;
    position: fixed !important;
}

.main-container {
    padding-top: 20px;
}

ul.posts {
    list-style: none;
}

.posts article {
    margin-bottom: 20px;
}

.posts article .title h3 {
    font-size: 20px;
    line-height: 26px;
    padding-bottom: 0;
}

.posts article,
.posts article .meta {
    float: left;
    width: 100%;
    clear: both;
}

.posts article .title {
    float: left;
}

.posts article .title,
.posts article .date {
    line-height: 46px;
}

.posts article .date {
    float: right;
    color: #999;
}
